<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resume of Aranna Shrabon</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <!-- FontAwesome JS -->
    <script defer src="assets/fontawesome/js/all.min.js"></script>
</head>
<body style="margin: 0; padding: 0; font-family: 'Roboto', sans-serif; background-color: #f7f7f7; color: #333;">

    <article class="resume-wrapper text-center position-relative" style="margin: 0 auto; position: relative; background-color: #fff; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
        <div class="resume-wrapper-inner mx-auto text-start bg-white shadow-lg" style="max-width: 800px; padding: 20px;">

            <header class="resume-header pt-4 pt-md-0" style="padding-top: 1rem; padding-top: 0;">
                <div class="row">
                    <div class="col-block col-md-auto resume-picture-holder text-center text-md-start">
                        <img class="picture" src="assets/images/profile.jpg" alt="">
                    </div>
                    <div class="col">
                        <div class="row p-4 justify-content-center justify-content-md-between">
                            <div class="primary-info col-auto">
                                <h1 class="name mt-0 mb-1 text-white text-uppercase">Aranna Shrabon</h1>
                                <div class="title mb-3"></div>
                                <ul class="list-unstyled">
                                    <li class="mb-2"><a class="text-link" href="mailto:arannashrabon.cse@gmail.com"><i class="far fa-envelope fa-fw me-2" data-fa-transform="grow-3"></i>arannashrabon.cse@gmail.com</a></li>
                                    <li><a class="text-link" href="tel:+8801709337720"><i class="fas fa-mobile-alt fa-fw me-2" data-fa-transform="grow-6"></i>+8801709337720</a></li>
                                </ul>
                            </div>
                            <div class="secondary-info col-auto mt-2">
                                <ul class="resume-social list-unstyled">
                                    <li class="mb-3"><a class="text-link" href="https://github.com/arannashrabon"><span class="fa-container text-center me-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/arannashrabon</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="resume-body p-5" style="padding: 2.5rem;">

                <section class="resume-section summary-section mb-5" style="margin-bottom: 2.5rem;">
                    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Career Summary</h2>
                    <div class="resume-section-content">
                        <p class="mb-0">Completed B.Sc. in CSE from National University & was involved in several extra-curricular & volunteer activities for personal & professional development. Established record of accomplishment of managing diversified academic assignments & projects & demonstrated Confirmed expertise in surpassing goals, attaining academic objectives, and exceeding expectations in the different competitive arena.</p>
                    </div>
                </section>

                <section class="resume-section experience-section mb-5" style="margin-bottom: 2.5rem;">
                    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Training Programs</h2>
                    <div class="resume-section-content">
                        <div class="resume-timeline-item-header mb-2">
                            <div class="d-flex flex-column flex-md-row">
                                <h3 class="resume-position-title font-weight-bold mb-1">Mobile Application Development using Android</h3>
                                <div class="resume-company-name ms-auto">IIT, University of Dhaka</div>
                            </div><!--//row-->
                            <div class="resume-position-time">January-2019 to March-2019</div>
                        </div><!--//resume-timeline-item-header-->
                        <div class="resume-timeline-item-desc">
                            <p>My journey in Mobile Application Development using Android has been a continuous cycle of learning, experimenting, creating, and evolving. From understanding the intricacies of the Android framework to crafting user-centric apps, each phase has contributed to my growth as a skilled Android developer.</p>
                            <h4 class="resume-timeline-item-desc-heading font-weight-bold"></h4>
                            <p></p>
                    </div>
                </section>

                <section class="resume-section experience-section mb-5" style="margin-bottom: 2.5rem;">
                    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Academic Project</h2>
                    <div class="resume-section-content">
                        <div class="resume-timeline-item-header mb-2">
                            <div class="d-flex flex-column flex-md-row">
                                <h3 class="resume-position-title font-weight-bold mb-1">GrihoSikkhok – An android app of Finding Tutor with Reliable & Authentic Source</h3>
                                <div class="resume-company-name ms-auto"> </div>
                            </div><!--//row-->
                            <div class="resume-position-time"> </div>
                        </div><!--//resume-timeline-item-header-->
                        <div class="resume-timeline-item-desc">
                            <p></p>
                            <h4 class="resume-timeline-item-desc-heading font-weight-bold"></h4>
                            <p></p>
                            <ul>
                                <li>GrihoShikkhok is an educational platform that allows students to find their desired tutor and tutors to find tuitions in the most convenient way.</li>
                                <li>The app also proves to be a great platform for skilled and experienced tutors to earn extra income by educating students in their leisure time. </li>
                                <li>Students can choose their interest field and communicate directly with tutors through the inbuilt messaging system or call them directly. </li>
                                <li>GrihoShikkhok app allows easy and secure login by OTP verification system. In GrihoShikkhok app we have implemented KYC system which helps to verify user’s identity and authenticity to avoid fake identities and ensure authenticity. </li>
                            </ul>
                            <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
                            <ul class="list-inline">
                                <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Java</span></li>
                                <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Android Studio</span></li>
                                <li class="list-inline-item"><span class="badge bg-secondary badge-pill">Firebase</span></li>
                               
                            </ul>
                        </div><!--//resume-timeline-item-desc-->

                    </article><!--//resume-timeline-item-->

                </div><!--//resume-timeline-->

            </div>
        </section><!--//experience-section-->
</section><!--//experience-section-->
</div>
                    <!--//resume-body-->

        </div><!--//resume-wrapper-inner-->
    </article>

</body>
</html>
